#reg_But {
  margin-left: 20px;
}

#Logo {
  color: #0d6efd;
  text-decoration: none;
}

#Navbar {
  border-bottom: 1px solid #e3e3e3;
}

#reg_But_com {
  margin-left: 98px;
  width: 165px;
}

#Log_out {
  margin-left: 20px;
}

#reg_But_logpage {
  margin-left: 20px;
}

#navLabel {
  text-decoration: none;
  color: black;
}

span {
  color: red;
}

#btn_back_login {
  margin-left: 300px;
  margin-top: 65px;
}

#reg_comp {
  text-decoration: none;
}

#reg_comp_p {
  margin-top: 10px;
}

#supp_label {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #666666;
}

#label {
  color: #0d6efd;
}

#accord_menu {
  width: 1316px;
  margin-left: 397px;
}

#search {
  width: 500px;
}

#search_form {
  margin-left: 780px;
  margin-top: 30px;
}

#search_container {
  background-color: white;
}

#search_text {
  text-align: center;
  margin-top: 55px;
  color: #666666;
}

#search_text_middle {
  text-align: center;
  margin-top: 0px;
  color: #666666;
}

#search_container {
  border-bottom: 1px solid #e3e3e3;
}

#form_search_container {
  margin-bottom: 30px;
}

#vacancy-list {
  margin-left: "405px";
}

#apply_btn_vacancy {
  margin-left: 15px;
}

#card_vacancy {
  margin-bottom: 15px;
}

#pagination {
  cursor: pointer;
}

#btn {
  text-decoration: none;
  color: white;
}
