#reg_But {
  margin-left: 20px;
}

#Logo {
  color: #0d6efd;
  text-decoration: none;
}

#reg_But_com {
  margin-left: 98px;
  width: 165px;
}

#Log_out {
  margin-left: 20px;
}

#reg_But_logpage {
  margin-left: 20px;
}

#navLabel {
  text-decoration: none;
  color: black;
}
